Flask==2.0.3
Werkzeug==2.0.3
Jinja2==3.0.3
itsdangerous==2.0.1
click==8.0.4
psutil==5.9.0
flask-cors==5.0.0
py-cpuinfo==9.0.0
GPUtil==1.4.0
requests==2.26.0
docker==7.1.0

# Platform specific dependencies
pywin32==301; platform_system == "Windows"
