body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 20px;
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.metric-container {
    width: calc(25% - 15px); /* Change to 4 columns */
    height: 400px; /* Keep the increased height */
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.progress-bar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}
.progress {
    height: 100%;
    width: 0;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.label {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    height: 36px;
    display: flex;
    align-items: center;
}
.percentage {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
}
.info {
    font-size: 12px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.value-box {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 12px;
}
.value-box.percentage {
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 20px;
    padding: 2px 8px;
}
.dynamic-info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}
.max-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.percentage-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
.percentage-label {
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.disk-selector {
    margin-left: auto;
    font-size: 14px;
}
select {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
}

.disk-info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.chart-container {
    flex-grow: 1;
    position: relative;
    margin-top: 10px;
    min-height: 150px; /* Add a minimum height to ensure consistent spacing */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    margin-top: 10px;
}
